#bodyMain {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

header {
  border-bottom: 1px solid #dddddd;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  padding: 5px;
}

.logo img {
  object-fit: contain;
  max-width: 100%;
  cursor: pointer;
}

img {
  object-fit: contain;
  max-width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #ffe8dd;
  color: #333;
}

.res-card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.restaurent-card {
  background-color: #ffe8dd;
  border-radius: 8px;
  overflow: hidden;
  width: calc(25% - 8px);
}

.text-left {
  text-align: left;
}

.restaurent-card > div {
  padding: 10px;
}

.restaurent-card > div * {
  margin-top: 0;
  margin-bottom: 10px;
}

.restaurent-card > img {
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}
