#bodyMain {
  max-width: 1280px;
  margin: 0 auto;
}

.container-box {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #dddddd;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  padding: 5px;
}

.logo img {
  object-fit: contain;
  max-width: 100%;
  cursor: pointer;
}

img {
  object-fit: contain;
  max-width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #ffe8dd;
  color: #333;
}

.res-card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.restaurent-card {
  background-color: #ffe8dd;
  border-radius: 8px;
  overflow: hidden;
  width: calc(25% - 8px);
  color: inherit !important;
}

.text-left {
  text-align: left;
}

.restaurent-card > div > div {
  padding: 10px;
}

.restaurent-card > div * {
  margin-top: 0;
  margin-bottom: 10px;
}

.restaurent-card img {
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.shimmer-container {
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 10px;
}

.shimmer-card {
  background-color: #ffe8dd;
  border-radius: 8px;
  overflow: hidden;
  width: calc(25% - 8px);
  height: 275px;
  text-indent: -10000;
}

.search {
  margin-right: 10px;
}

input#search {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem 0 0 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search button {
  border-radius: 0 0.25rem 0.25rem 0;
}

.item-box {
  border-bottom: 1px solid #ff5d0d;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.item-box:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.item-image {
  max-width: 150px;
}

.item-image img {
  object-fit: cover;
  border-radius: 12px;
}

.item-info {
  padding-right: 40px;
}

.item-info h4 {
  margin-bottom: 10px;
}
